.bg-blue{
    background-color: lightskyblue;
}

.border{
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

[class *="col"] {
    height: 40px;
    text-align: center;
}

.col-1 span{
    line-height: 40px;
    vertical-align: middle;
    color: white;
}