*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 100%;
}

[class *="col"] {
    flex: 0 0 auto;
}

.container-fluid {
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.col-1 {
    flex-basis: calc((100% / 18) * 1);
    max-width: calc((100% / 18) * 1);
}
.col-2 {
    flex-basis: calc((100% / 18) * 2);
    max-width: calc((100% / 18) * 2);
}
.col-3 {
    flex-basis: calc((100% / 18) * 3);
    max-width: calc((100% / 18) * 3);
}
.col-4 {
    flex-basis: calc((100% / 18) * 4);
    max-width: calc((100% / 18) * 4);
}
.col-5 {
    flex-basis: calc((100% / 18) * 5);
    max-width: calc((100% / 18) * 5);
}
.col-6 {
    flex-basis: calc((100% / 18) * 6);
    max-width: calc((100% / 18) * 6);
}
.col-7 {
    flex-basis: calc((100% / 18) * 7);
    max-width: calc((100% / 18) * 7);
}
.col-8 {
    flex-basis: calc((100% / 18) * 8);
    max-width: calc((100% / 18) * 8);
}
.col-9 {
    flex-basis: calc((100% / 18) * 9);
    max-width: calc((100% / 18) * 9);
}
.col-10 {
    flex-basis: calc((100% / 18) * 10);
    max-width: calc((100% / 18) * 10)
}
.col-11 {
    flex-basis: calc((100% / 18) * 11);
    max-width: calc((100% / 18) * 11);
}
.col-12 {
    flex-basis: calc((100% / 18)* 12);
    max-width: calc((100% / 18) * 12);
}

.col-13 {
    flex-basis: calc((100% / 18)* 13);
    max-width: calc((100% / 18) * 13);
}

.col-14 {
    flex-basis: calc((100% / 18)* 14);
    max-width: calc((100% / 18) * 14);
}

.col-15 {
    flex-basis: calc((100% / 18)* 15);
    max-width: calc((100% / 18) * 15);
}

.col-16 {
    flex-basis: calc((100% / 18)* 16);
    max-width: calc((100% / 18) * 16);
}

.col-17 {
    flex-basis: calc((100% / 18)* 17);
    max-width: calc((100% / 18) * 17);
}

.col-18 {
    flex-basis: calc((100% / 18)* 18);
    max-width: calc((100% / 18) * 18);
}

/* Offset */

.col-1-offset {
    margin-left: calc((100% / 18) * 1);
}
.col-2-offset {
    margin-left: calc((100% / 18) * 2);
}
.col-3-offset {
    margin-left: calc((100% / 18) * 3);
}
.col-4-offset {
    margin-left: calc((100% / 18) * 4);
}
.col-5-offset {
    margin-left: calc((100% / 18) * 5);
}
.col-6-offset {
    margin-left: calc((100% / 18) * 6);
}
.col-7-offset {
    margin-left: calc((100% / 18) * 7);
}
.col-8-offset {
    margin-left: calc((100% / 18) * 8);
}
.col-9-offset {
    margin-left: calc((100% / 18) * 9);
}
.col-10-offset {
    margin-left: calc((100% / 18) * 10);
}
.col-11-offset {
    margin-left: calc((100% / 18) * 11);
}
.col-12-offset {
    margin-left: calc((100% / 18) * 12);
}

.col-13-offset {
    margin-left: calc((100% / 18) * 13);
}

.col-14-offset {
    margin-left: calc((100% / 18) * 14);
}

.col-15-offset {
    margin-left: calc((100% / 18) * 15);
}

.col-16-offset {
    margin-left: calc((100% / 18) * 16);
}

.col-17-offset {
    margin-left: calc((100% / 18) * 17);
}

.col-18-offset {
    margin-left: calc((100% / 18) * 18);
}


.container{
    width: 30%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bg-dark{
    background-color: black;
}

.bg-red{
    background-color: red;
}

.bg-sfumatura{
    background-color: #7a3951;
}

.bg-grey{
    background-color: lightgray;
}

[class *="col"] {
    height: 30px;
}